/********** Global **********/



body {
    background-color: #16c0d8;
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    line-height: normal;
    letter-spacing: 0.04em;
}

.wrapper {
    background-color: rgb(255, 255, 255);
    margin: 1rem auto;
    width: 900px;
    display: flex;
}

.main-title, section {
    margin : 1rem;
}

h3, .main-title_text__intro {
    margin: 1rem 0 0;       
}

h2 {
    font-weight: 700;
    font-size: larger;
    padding: 0em 0.4em;
    background-color: #16c0d8;
    color: #004f5c;
}

h3 {
    font-weight: 600;
}

.section-list__item {
    display: flex;
    gap: 0.4rem;
}

ul.main-section_list {
    list-style-type: disc;
    padding: 0.5em 0 0 1.2em;
    font-size: smaller;
}

.main-section_progressbar__large {
    width: 250px;
    height: 5px;
}

.main-section_progressbar{
    width: 100px;
    height: 5px;
}



/********** Header **********/



.main-title {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.8em;
}

.main-title_title {
    display: flex;
    flex-direction: column;
    align-self: center;
    line-height: 2;
}

.main-title_jobname {
    font-weight: 700;
    font-size: large;
}

.main-title_name {
    font-weight: 500;
    color: #04515e;
}

.main-title_profilpic {
    border-radius: 50%;
}



/********** Main section left **********/



.left-content {
    width: 60%;
    background-color: white;
    padding: 1rem;
}

.main-section {
    display: flex;
    flex-direction: column;
}

.main-section_text {
    display: block;
    color: #16c0d8;
    font-weight: 600;
}

.main-section_text__job {
    color: #16c0d8;
    font-weight: 600;
}

.section-text_firm {
    color: #16c0d8;
}

.main-section_title {
    align-self: flex-start;
    margin: 0em;
}

.main-section_progressbar__wide {
    inline-size: 20em;
}

.main-section_date_location {
    font-size: x-small;
    margin: 0.2rem 0 0;
}

.section-text_diplome {
    margin: 0.5em 0 0;
}



/********** Main section right **********/



.right-content {
    width: 40%;
    background-color: #f3f3f3;
}

.main-section_list__infos {
    font-size: smaller;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.main-section_profil_info {
    padding: 1rem;
    background: #004f5c;
    color: white;
    margin: 0;
}

.section-list_icon {
    width : 15px;
    height: 15px;
    background-color: #16c0d8;;
    border: solid #16c0d8;
    border-radius: 50%;

}

.section-list_item__info, .section-list_item__lang {
    margin: 0.5rem 0 0;
}

.main-section_progressbar {
    display: block;
    margin: 0.3rem 0 0;
}

.main-section_title__right {
    background-color: #f3f3f3;
    padding: 0;
}

.section-list_social{
    width: 30px;
    height: 30px;
}

.main-section-social_wrapper {
    display: flex;
    gap: 1.5rem;
    margin: 1rem 0 0;
}